<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <!-- Bootstrap CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <!-- Custom CSS  -->
    <link rel="stylesheet" href="/css/shared/main.css">
    <link rel="stylesheet" href="/css/shared/home.css">
    <link rel="stylesheet" href="/css/shared/404.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand fs-32 mx-1 bold" href="#">Digital Health Record Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="">
                    <?xml version="1.0"?>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0"
                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve">
                        <g>
                            <path xmlns="http://www.w3.org/2000/svg"
                                d="m464.883 64.267h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"
                                fill="#ffffff" data-original="#000000" />
                            <path xmlns="http://www.w3.org/2000/svg"
                                d="m464.883 208.867h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"
                                fill="#ffffff" data-original="#000000" />
                            <path xmlns="http://www.w3.org/2000/svg"
                                d="m464.883 353.467h-417.766c-25.98 0-47.117 21.137-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.012-21.137-47.149-47.117-47.149z"
                                fill="#ffffff" data-original="#000000" />
                        </g>
                    </svg>
                </span>
            </button>
            <div class="collapse navbar-collapse naw" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active bold" aria-current="page" href="/"><i
                                class="fa fa-fw fa-home icons "></i> Home</a>
                    </li>
                    <li class="nav-item bold">
                        <a class="nav-link" href="/contact"><i class="fa fa-fw fa-envelope icons"></i> Contact</a>
                    </li>
                    <li class="nav-item bold">
                        <a class="nav-link" href="/about"><i class="fa fa-fw fa-info-circle icons"></i> About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <div class="body-wrapper row  align-items-center">
            <div class="col-sm-6 left text-center">
                <div class="content">
                    <h1 class="fourOfour">404</h1>
                    <h2 class="heading bold ">Page Not Found !</h2>
                    <a class="home-btn" href="/">Home</a>
                </div>
            </div>
            <div class="col-sm-6 right text-center">
                <img src="/images/shared/404/404.svg" alt="">
            </div>
        </div>
    </main>



    <!-- Bootstrap JS  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
        </script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</body>

</html>