<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>About | Digital Health Record Portal</title>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- Bootstrap Icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="css/shared/main.css">
	<link rel="stylesheet" href="css/shared/home.css">
	<link rel="stylesheet" href="css/shared/about.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>
	<nav class="navbar navbar-expand-lg ">
		<div class="container-fluid">
			<a class="navbar-brand fs-32 mx-1 bold" href="/">Digital Health Record Portal</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="">
					<?xml version="1.0"?>
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
						xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0"
						viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve">
						<g>
							<path xmlns="http://www.w3.org/2000/svg"
								d="m464.883 64.267h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"
								fill="#ffffff" data-original="#000000" />
							<path xmlns="http://www.w3.org/2000/svg"
								d="m464.883 208.867h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"
								fill="#ffffff" data-original="#000000" />
							<path xmlns="http://www.w3.org/2000/svg"
								d="m464.883 353.467h-417.766c-25.98 0-47.117 21.137-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.012-21.137-47.149-47.117-47.149z"
								fill="#ffffff" data-original="#000000" />
						</g>
					</svg>
				</span>
			</button>
			<div class="collapse navbar-collapse naw" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active bold" aria-current="page" href="/"><i
								class="fa fa-fw fa-home icons "></i>
							Home</a>
					</li>
					<li class="nav-item bold">
						<a class="nav-link" href="/contact"><i class="fa fa-fw fa-envelope icons"></i> Contact</a>
					</li>
					<li class="nav-item bold">
						<a class="nav-link" href="#"><i class="fa fa-fw fa-info-circle icons"></i> About</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-12 title ">
				<p>About Us : </p>
			</div>
			<div class="col-12  aboutInfo ">
				<p>We have Aadhar card, Pan card, Voter id, driving license like
					identity proofs for our day to day transactions. But we
					have major missing that is our health card, which manages our day
					to day health history like disease, allergy etc. <br>
					<hr>
					The main problem in today's date is we are not having any centralize
					database of individual person, and because of that it is impossible to take proper
					precaution for prevention of any viral disease. <br>
					<hr>
					Next is when doctor give any prescription to patient doctor do not have
					any record of that prescription. So next time if doctor wants
					to take any past reference of same patient than it is not possible. <br>
					<hr>
					We are creating a centralize database of every patient’s medical history in an online system where
					we
					can store medical history of patient’s. <br>
					<hr>
					In that system every individual patient’s should have a unique ID or Health Card
					number through which all medical activities can be stored online.<br>
					<hr>
					In that system only authorised doctors can update the
					patient’s treatment from the database which in
					future can be referred.
				</p>
			</div>
		</div>
	</div><br>
	<div class="container">
		<p class="title">Guide</p><br>
		<div class="guide">
			<p class="guide-head">Users</p>
			<div class="guide-body">
				<ul>
					<li>Users can store and manage their health records on one place at anytime, from anywhere.</li>
					<li>During registration, we collect few personal informations like Address, Contact No, etc.
						which can be updated later.
						Based on these you will be provided a unique 6 digit health ID.</li>
					<li><strong>Health ID</strong> is unique number which helps to identify you as a user of this
						website. Once alloted Health ID cannot be changed.</li>
					<li>Additional medical details form is expected to be filled for better understanding about you.
					</li>
					<li>Everytime you visit a doctor, he/she will ask your <strong>Health ID</strong> and then be able
						to view all your past medical records and lab reports.</li>
					<li>This helps Doctors understand your health in a better way.</li>
					<li>Doctors only can add a new treatment record.</li>
					<li>You can view all your current on going medical treatment records from the <strong>Current
							Treatments</strong> tab.
					<li>On completion of your treatment, either you or the concern Doctor only can end the treatment.
					</li>
					<li>Once the treatment is terminated it will be transfered to <strong>Previous Treatments</strong>
						tab.</li>
					<li>Lab Reports can be send by the concern Laboratory to your database.</li>
					<li>Treatment specific lab reports will be mentioned in the Treatment details.</li>
					<li>All the reports can be downloaded from <strong>Lab Reports</strong> tab.</li>
					<li>User can have a one to one chat with their specific Doctors from the <strong>Chat</strong> tab.
					</li>
					<li><strong>Settings</strong> tab is to manage your profile details and other informations.</li>

			</div>
		</div>
		<hr>
		<div class="guide">
			<p class="guide-head">Doctors</p>
			<div class="guide-body">
				<ul>
					<li>Doctors can manage their patient records online from anywhere.</li>
					<li>In order to sign-up as a Doctor, you need to provide your personal, professional information
						along with a MCIR No.</li>
					<li>Once registered you will be able to use the services of this website.</li>
					<li>From the <strong>Home</strong> tab, you can search for a patient by <strong>Health ID</strong>.
					</li>
					<li>Then you can view all medical records & reports of the patient and can create a new treatment.
					</li>
					<li>All your on going treated pateint records can be found in <strong>Current Patients</strong> tab.
					</li>
					<li>Once terminated by either of you, it will be added to <strong>Previous Patients</strong> tab.
					</li>
					<li>You can have a chat with your current patients from <strong>Chat</strong> tab.</li>
					<li><strong>Settings</strong> tab can help you to manage your profile and settings.</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="guide">
			<p class="guide-head">Laboratory</p>
			<div class="guide-body">
				<ul>
					<li>Laboratories can register themselves on this portal by providing few informations.</li>
					<li>From <strong>Home</strong> tab, you can search for patient by Health ID and submit a lab report
						to them.</li>
					<li>We have different section for treatment specific report and general report. Submit them
						accordingly.</li>
					<li>All your sent reports will be visible in <strong>Sent Reports</strong> tab.</li>
					<li><strong>Settings</strong> tab will help you to manage your profile and other settings.</li>
				</ul>

			</div>
		</div>
	</div>
	<div class="conntainer-fluid">
		<footer class="mt-5">
			<svg class="footer-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
				<path fill="#6DC9C8" fill-opacity="1"
					d="M0,256L21.8,218.7C43.6,181,87,107,131,90.7C174.5,75,218,117,262,128C305.5,139,349,117,393,101.3C436.4,85,480,75,524,90.7C567.2,107,611,149,655,176C698.2,203,742,213,785,186.7C829.1,160,873,96,916,74.7C960,53,1004,75,1047,112C1090.9,149,1135,203,1178,197.3C1221.8,192,1265,128,1309,106.7C1352.7,85,1396,107,1418,117.3L1440,128L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.2,320,44,320,22,320L0,320Z">
				</path>
				<div class="row footerback">
					<div class="col-sm-6 footer-text text-center ">
						<p class="mb-0 pt-5 pb-5">&copy;&nbsp;Copyright - Digital Health Record Portal 2020</p>
					</div>
					<div class="col-sm-6 text-center footer-social  fs-28 ">
						<a href=""><i class="bi bi-google mx-1" style="color:#ffffff"></i></a>
						<a href=""><i class="bi bi-facebook mx-1" style="color:#ffffff"></i></a>
						<a href=""><i class="bi bi-twitter mx-1" style="color:#ffffff"></i></a>
						<a href=""><i class="bi bi-instagram mx-1" style="color:#ffffff"></i></a>
					</div>
				</div>
			</svg>
		</footer>
	</div>



	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


</html>