* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background-color: #0e3150;
    color: white;
    overflow-x: hidden;
}

/* Font-Sizes  */
.fs-40 {
    font-size: 40px;
}
.fs-32 {
    font-size: 32px;
}
.fs-30 {
    font-size: 30px;
}
.fs-28 {
    font-size: 28px;
}
.fs-26 {
    font-size: 26px;
}
.fs-24 {
    font-size: 24px;
}
.fs-22 {
    font-size: 22px;
}
.fs-20 {
    font-size: 20px;
}
.fs-18 {
    font-size: 18px;
}
.fs-16 {
    font-size: 16px;
}
.fs-14 {
    font-size: 14px;
}

/* Font Weight  */
.bold {
    font-weight: bold;
}
.semibold {
    font-weight: 700;
}
.meduim {
    font-weight: 600;
}
.regular {
    font-weight: 400;
}

/* Header  */

.header {
    background-color: #ffc0c2;
    margin: 0px;
    width: 100vw;
    color: white;
}
a {
    color: white;
}
a:hover {
    text-decoration: underline;
    color: white;
}

/* Footer  */
footer {
    position: relative;
    height: fit-content;
}
.footer-div {
    width: 100%;
    position: absolute;
    bottom: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer-social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer-social i {
    margin: 12px;
}
.footer-social i:hover {
    cursor: pointer;
    filter: drop-shadow(10px 8px 8px rgba(0, 0, 0, 0.4));
}

/* Media Queries  */

@media (max-width: 768px) {
    .header .header_navbar {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .header .fs-40 {
        font-size: 24px;
    }
    .nav-wrapper {
        font-size: 20px;
    }
}
