.med-form-alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #7ee6e4;
    border-radius: 12px;
}
.med-form-alert p {
    margin-bottom: 0;
}
.med-form-alert svg {
    margin: 4px;
}
/* gutters for row */
.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}
.basic {
    width: 100%;
    border-radius: 24px;
    padding: 8px 18px;
    border-radius: 32px;
    border: 3px solid #ffc0c2;
}
.current {
    width: 100%;
    border-radius: 32px;
    padding: 8px 18px;
    border: 3px solid #ffc0c2;
}
.current p {
    text-align: justify;
}
