.status-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.status {
    background-color: #73d8d8;
    padding: 8px;
    color: white;
    border-radius: 12px;
}
.med-form-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #7ee6e4;
    border-radius: 12px;
    text-decoration: none;
    color: #fff;
}
.med-form-link:hover {
    color: #fff;
}
.med-form-alert p {
    margin-bottom: 0;
}
.med-form-alert svg {
    margin: 4px;
}
/* gutters for row */
.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}
.row1 {
    display: flex;
    flex-direction: row;
}
.align {
    text-align: right;
}
/* .row1 .heading{
    border-bottom: 5px solid #ffbbbd;
} */

.basic {
    width: 100%;
    border-radius: 24px;
    padding: 8px 18px;
    border-radius: 32px;
    /* border: 3px solid #ffc0c2; */
    box-shadow: 4px 6px 12px 4px rgb(224, 214, 214);
}
.basic .heading .health-id {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.health-id {
    border-bottom: 4px solid #ffbbbd;
}
.health-id p {
    margin-bottom: 0;
}
.basic p {
    padding-left: 8px;
    text-align: justify;
    word-break: break-word;
}
.current {
    width: 100%;
    border-radius: 32px;
    padding: 8px 18px;
    box-shadow: 4px 6px 12px 4px rgb(224, 214, 214);
}
.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.heading span {
    width: fit-content;
    border-bottom: 4px solid #ffbbbd;
}
.current p {
    text-align: justify;
    word-break: break-all;
}
.current-treatment-item {
    padding: 12px;
    border-radius: 32px;
}

.heading .more-link {
    border-radius: 24px;
    padding: 7px 14px;
    /* height: 83px; */
    /* width: 109px; */
    border: 2px solid #ffbbbd;
    text-decoration: none;
    color: #ffbbbd;
}
.heading .more-link:hover {
    background-color: #ffbbbd;
    color: white;
}

.no-item {
    margin: 8px 4px;
}
.no-item p {
    text-align: center;
    color: rgb(105, 105, 105);
}
@media (max-width: 768px) {
    .basic {
        padding: 8px;
    }
    .basic p {
        padding-left: 8px;
    }
    .current {
        padding: 8px;
    }
}
