.profile,
.account {
    margin-top: 14px;
    --bs-gutter-x: 0;
    word-break: break-all;
}
p {
    margin-bottom: 0px;
}

form {
    width: 100%;
    border-radius: 24px;
    padding: 8px 18px;
    border-radius: 32px;
    /* border: 3px solid #ffc0c2; */
    box-shadow: 4px 6px 12px 4px rgb(224, 214, 214);
}
.form-control:focus {
    border: none;
    box-shadow: 4px 4px 11px 2px rgb(195 196 196 / 70);
}
.profile .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.profile .heading span {
    width: fit-content;
    border-bottom: 4px solid #6dc9c8;
}
.account .heading p {
    width: fit-content;
    border-bottom: 4px solid #6dc9c8;
}
/* a.change-btn {
    height: 24px;
    width: 56px !important;
    text-decoration: none;
    padding: 8px 12px;
    background-color: #fff;
    color: #6dc9c8;
    border-radius: 24px;
    border: 1px solid #6dc9c8;
}
.change-btn:hover {
    color: #fff;
    background-color: rgb(109, 201, 200);
} */
.saveButton-container {
    margin: 16px;
    text-align: center;
}
.saveButton {
    display: none;
    width: 86px;
    padding: 6px 12px;
    border-radius: 24px;
    border: 2px solid #6dc9c8;
    color: #5ac7c5;
    background-color: #5ac7c5;
}
#saveButton:hover {
    background-color: #6dc9c8;
    color: #fff;
}
.btn{
    color:white;
    background-color: #6dc9c8;
}


@media (max-width: 768px) {
    form {
        padding: 8px;
    }
    .col-4,
    .col-8 {
        padding-right: 0px;
    }
    .col-sm-4 {
        margin-bottom: 12px;
    }
}
