.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 12px 4px rgb(239, 239, 239);
    min-height: 64px;
    border-radius: 8px;
    /* margin: -11px; */
}
.content:hover {
    box-shadow: 2px 2px 12px 4px rgb(204, 204, 204);
    cursor: pointer;
}
.content p {
    margin-bottom: 0;
    padding: 2px;
}
.content .btn {
    width: 68px;
}
.patient-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 16px;
}
.patient-detail .id {
    display: flex;
    flex-direction: row;
    margin: 0 8px;
}
.patient-detail .name {
    display: flex;
    flex-direction: row;
    margin: 0 8px;
}
.patient-detail .date {
    display: flex;
    flex-direction: row;
    margin: 0 8px;
}
.patient-action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 8px;
}
.patient-action .view {
    margin: 2px 8px;
}
.patient-action .end {
    margin: 2px 8px;
}
.row {
    --bs-gutter-x: 0;
}
.modal-body .text {
    text-align: justify;
}
.btn-download {
    border-radius: 24px;
    padding: 7px 14px;
    /* height: 83px; */
    /* width: 109px; */
    border: 2px solid #ffbbbd;
    text-decoration: none;
    color: #ffbbbd;
}
.btn-download:hover {
    background-color: #ffbbbd;
    color: white;
    text-decoration: none;
}
.btn-view {
    border: 2px solid #6dc9c8;
    color: #6dc9c8;
    border-radius: 24px;
}
.btn-view:hover {
    background-color: #6dc9c8;
    color: white;
}
.btn-view a {
    text-decoration: none;
    color: #6dc9c8;
}
.btn-view a:hover {
    text-decoration: none;
    color: #f1f3f3;
}
.btn-dismiss {
    border: 2px solid #707070;
    color: #707070;
    border-radius: 24px;
}
.btn-dismiss:hover {
    background-color: #707070;
    color: white;
}
.no-item {
    margin: 8px 4px;
}
.no-item p {
    text-align: center;
    color: rgb(105, 105, 105);
}

/* media-queries */
@media (max-width: 768px) {
    .content {
        min-height: 160px;
    }
    .patient-detail {
        margin: -16px;
        margin-left: 4px;
    }
    .patient-detail .id {
        margin: 4px 8px;
    }
    .patient-detail .name {
        margin: 4px 8px;
    }
    .patient-action .view {
        margin: 2px 2px;
        width: 100%;
    }
    .patient-action .end {
        margin: 2px 2px;
        width: 100%;
    }
    .modal-dialog-centered {
        min-height: calc(100% - 8rem);
    }

    .modal-dialog-scrollable {
        height: calc(100% - 6rem);
    }

    .modal-dialog {
        margin: 0.5rem;
        margin-top: 5rem;
    }
}
