html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Toolbar */
.toolbar {
    width: 100%;
    height: 60px;
    background-color: #0e3150;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.toolbar-space {
    height: 60px;
}
.toolbar .toolbar-hamburger {
    position: absolute;
    left: 16px;
}
/* hamburger  */
#hamburger {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#hamburger a {
    text-decoration: none;
    color: #fdfdfd;
    transition: color 0.3s ease;
}

#hamburger a:hover {
    color: #6dc9c8;
}
#hamburger a:active {
    color: #6dc9c8;
}

#hamburger input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}
/* hamburger sticks */
#hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fdfdfd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#hamburger span:first-child {
    transform-origin: 0% 0%;
}

#hamburger span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#hamburger input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fdfdfd;
}

#hamburger input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#hamburger input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/* menu-list */
#menu {
    position: absolute;
    width: 260px;
    height: 100vh;
    padding: 8px;
    margin: -44px 0 0 -16px;
    background: #0e3150;
    color: #fdfdfd;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
/* brand in menu */
#menu #nav-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 0.6rem;
    border-bottom: 2px solid #fdfdfd;
}
#menu #nav-brand p {
    margin: 0;
    padding: 0;
}
#menu #nav-brand .links {
    padding-top: 0.6rem;
}
#menu #nav-brand .links a {
    text-decoration: none;
    color: #fdfdfd;
    margin-right: 32px;
}
#menu #nav-brand .links a:hover {
    text-decoration: underline;
}
#menu #nav-brand .links svg {
    margin-bottom: 2px;
}
.menu-items {
    padding: 0 12px;
}
.menu-item-single {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
}
.menu-item-single svg {
    margin-right: 16px;
}
#menu li {
    margin: 4px 0;
    padding: 10px 0;
    font-size: 17px;
    font-weight: bold;
}

#hamburger input:checked ~ ul {
    transform: none;
}

/* toolbar-header */
.toolbar .toolbar-header {
    position: absolute;
    left: 100px;
    color: #fdfdfd;
}
.toolbar-header p {
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
    font-weight: bold;
}
.toolbar .toolbar-profile {
    position: absolute;
    right: 16px;
    color: #fdfdfd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.toolbar-profile .profile-name {
    padding-right: 16px;
    font-weight: bold;
    overflow-x: hidden;
}

.toolbar-profile .profile-name p {
    margin-bottom: 0;
    max-width: 160px;
}
/* Main */
main {
    padding: 16px 24px;
    color: #333;
}

/* gutters for row */
/* .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
} */

/* media queries */
@media (max-width: 768px) {
    .toolbar-header p {
        font-size: 24px;
    }
    main {
        padding: 8px 8px;
        color: #333;
    }
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .toolbar-profile .profile-name {
        display: none;
    }
    .toolbar .toolbar-header {
        left: 60px;
    }
}

@media (max-width: 355px) {
    .toolbar .toolbar-header {
        left: 70px;
    }
    .toolbar-header p {
        font-size: 20px;
    }
}
