.basic {
    width: 100%;
    border-radius: 24px;
    padding: 8px 18px;
    border-radius: 32px;
    /* border: 3px solid #ffc0c2; */
    box-shadow: 4px 6px 12px 4px rgb(224, 214, 214);
}
.basic .heading {
    border-bottom: 5px solid #18f7ea;
}
.basic p {
    text-align: justify;
    word-break: break-word;
    overflow-x: hidden;
}

.leftside {
    margin-right: 10px;
    border-radius: 24px;
    padding: 8px 18px;
    border-radius: 32px;
    box-shadow: 4px 6px 12px 4px rgb(224, 214, 214);
}
.leftside-heading {
    padding: 12px 12px 0px 12px;
    padding: 8px 18px;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #e7e7e76e;
    box-shadow: 0px 4px 6px 1px #dbcfcf;
    border-radius: 32px;
}
.rightside {
    /* margin-left:15px; */
    border-radius: 24px;
    padding: 8px 18px;
    border-radius: 32px;
    box-shadow: 4px 6px 12px 4px rgb(224, 214, 214);
}
.rightside-heading {
    padding: 12px 12px 0px 12px;
    padding: 8px 18px;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #e7e7e76e;
    box-shadow: 0px 4px 6px 1px #dbcfcf;
    border-radius: 32px;
}
.saveButton-container {
    margin: 16px;
    text-align: center;
}
#saveButton {
    width: 86px;
    padding: 6px 12px;
    border-radius: 24px;
    border: 2px solid #6dc9c8;
    color: #5ac7c5;
}
#saveButton:hover {
    background-color: #6dc9c8;
    color: #fff;
}
.container-fluid {
    padding: 0;
}
.row {
    --bs-gutter-x: 0;
}
.leftside-heading p,
.rightside-heading p {
    margin-bottom: 0;
}

/* .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.308);
}
.backdrop .status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    background-color: #fff;
    color: #000;
} */

@media (max-width: 768px) {
    .col-sm-8 {
        margin-bottom: 12px;
    }
    #saveButton {
        text-align: left;
    }
    .fs-24 {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .basic {
        padding: 8px;
    }
    .basic p {
        padding-left: 8px;
    }
    .leftside {
        margin-bottom: 15px;
    }
}
