.basic {
    width: 100%;
    border-radius: 24px;
    padding: 8px 18px;
    border-radius: 32px;
    /* border: 3px solid #ffc0c2; */
    box-shadow: 4px 6px 12px 4px rgb(224, 214, 214);
}
.basic .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.basic .heading span {
    margin-left: 12px;
    margin-bottom: 12px;
    width: fit-content;
    border-bottom: 4px solid #6dc9c8;
}
.basic p {
    text-align: justify;
    word-break: break-word;
    overflow-x: hidden;
}

.leftside {
    margin-right: 10px;
    border-radius: 24px;
    padding: 8px 18px;
    border-radius: 32px;
    box-shadow: 4px 6px 12px 4px rgb(224, 214, 214);
}
.leftside-heading {
    padding: 12px 12px 0px 12px;
    padding: 8px 18px;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #e7e7e76e;
    box-shadow: 0px 4px 6px 1px #dbcfcf;
    border-radius: 32px;
}
.rightside {
    /* margin-left:15px; */
    border-radius: 24px;
    padding: 8px 18px;
    border-radius: 32px;
    box-shadow: 4px 6px 12px 4px rgb(224, 214, 214);
}
.rightside-heading {
    padding: 12px 12px 0px 12px;
    padding: 8px 18px;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #e7e7e76e;
    box-shadow: 0px 4px 6px 1px #dbcfcf;
    border-radius: 32px;
}
.saveButton-container {
    margin: 16px;
    text-align: center;
}
#saveButton {
    width: 86px;
    padding: 6px 12px;
    border-radius: 24px;
    border: 2px solid #6dc9c8;
    color: #5ac7c5;
}
#saveButton:hover {
    background-color: #6dc9c8;
    color: #fff;
}
.container-fluid {
    padding: 0;
}
.row {
    --bs-gutter-x: 0;
}
.leftside-heading p,
.rightside-heading p {
    margin-bottom: 0;
}

.status {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.status span {
    background-color: #66f5f5;
    border-radius: 12px;
    width: fit-content;
    padding: 0 4px;
    text-align: center;
    color: #333333;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.status span p {
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 18px;
}
.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.cssload-box-loading {
    display: none;
    width: 49px;
    height: 49px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.cssload-box-loading:before {
    content: "";
    width: 49px;
    height: 5px;
    background: rgb(0, 0, 0);
    opacity: 0.1;
    position: absolute;
    top: 58px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.58s linear infinite;
    -o-animation: shadow 0.58s linear infinite;
    -ms-animation: shadow 0.58s linear infinite;
    -webkit-animation: shadow 0.58s linear infinite;
    -moz-animation: shadow 0.58s linear infinite;
}
.cssload-box-loading:after {
    content: "";
    width: 49px;
    height: 49px;
    background: #6dc9c8;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    animation: cssload-animate 0.58s linear infinite;
    -o-animation: cssload-animate 0.58s linear infinite;
    -ms-animation: cssload-animate 0.58s linear infinite;
    -webkit-animation: cssload-animate 0.58s linear infinite;
    -moz-animation: cssload-animate 0.58s linear infinite;
}

@keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@-o-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        -o-transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        -o-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }
    75% {
        -o-transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        -o-transform: translateY(0) rotate(90deg);
    }
}

@-ms-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        -ms-transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        -ms-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }
    75% {
        -ms-transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        -ms-transform: translateY(0) rotate(90deg);
    }
}

@-webkit-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        -webkit-transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }
    75% {
        -webkit-transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        -webkit-transform: translateY(0) rotate(90deg);
    }
}

@-moz-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        -moz-transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        -moz-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }
    75% {
        -moz-transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        -moz-transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {
    0%,
    100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1);
    }
}

@-o-keyframes shadow {
    0%,
    100% {
        -o-transform: scale(1, 1);
    }
    50% {
        -o-transform: scale(1.2, 1);
    }
}

@-ms-keyframes shadow {
    0%,
    100% {
        -ms-transform: scale(1, 1);
    }
    50% {
        -ms-transform: scale(1.2, 1);
    }
}

@-webkit-keyframes shadow {
    0%,
    100% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.2, 1);
    }
}

@-moz-keyframes shadow {
    0%,
    100% {
        -moz-transform: scale(1, 1);
    }
    50% {
        -moz-transform: scale(1.2, 1);
    }
}

@media (max-width: 768px) {
    .col-sm-8 {
        margin-bottom: 12px;
    }
    #saveButton {
        text-align: left;
    }
    .fs-24 {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .basic {
        padding: 8px;
    }
    .basic p {
        padding-left: 8px;
    }
    .leftside {
        margin-bottom: 15px;
    }
}
