/* gutters for row */
.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}
.basic {
    width: 100%;
    border-radius: 24px;
    padding: 8px 18px;
    border-radius: 32px;
    /* border: 3px solid #ffc0c2; */
    box-shadow: 4px 6px 12px 4px rgb(224, 214, 214);
}
.basic .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.basic .heading span {
    margin-left: 12px;
    margin-bottom: 12px;
    width: fit-content;
    border-bottom: 4px solid #6dc9c8;
}
.basic p {
    text-align: justify;
    word-break: break-word;
    overflow-x: hidden;
}
.column {
    float: left;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.basic1 {
    border-radius: 24px;
    padding: 8px 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: 4px 6px 12px 4px rgb(224, 214, 214);
}

form {
    margin: 1rem 0;
    color: black;
}
form .form-group {
    margin: 2rem 0;
}
.form-wrapper h2 {
    font-weight: bold;
    color: #ffffff;
}

.form-group input {
    caret-color: #6dc9c8;
}
form .btn {
    /* background-color: #6dc9c8; */
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 24px;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: white;
}

.btn-grad {
    background-image: linear-gradient(
        to right,
        #4cb8c4 0%,
        #3cd3ad 51%,
        #4cb8c4 100%
    );
}
.btn-grad {
    padding: 10px 4px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
@media (max-width: 768px) {
    .basic {
        padding: 8px;
    }
    .basic p {
        padding-left: 8px;
    }
    form h2 {
        font-size: 18px;
    }
}
@media (max-width: 576px) {
    .form-wrapper {
        width: 90vw;
    }
    form .form-group {
        margin: 1rem 0;
    }
}
