.column {
    float: left;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
h2{
    border-bottom: 5px solid #ffbbbd;
}
.basic1 {
    border-radius: 24px;
    padding: 8px 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: 4px 6px 12px 4px rgb(224, 214, 214);
}

form {
    margin: 1rem 0;
    color: black;
}
form .form-group {
    margin: 2rem 0;
}
.form-wrapper h2 {
    font-weight: bold;
    color: #ffffff;
}
form .btn {
    background-color:  #ffbbbd;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 24px;
}
button:hover {
    color: #0d0530;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: white;
}

@media (max-width: 576px) {
    .form-wrapper {
        width: 90vw;
    }
    form .form-group {
        margin: 1rem 0;
    }
}
